@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
}
p {
    font: 'Rubik', sans-serif !important;
    color: inherit;
    margin-bottom: 0 !important;
    line-height: 24px;
}
b {
    font: 800 44px/1.2 'Rubik', sans-serif;
    color: inherit;
}

/*button styles*/
.button-styles {
    .ant-btn-primary {
        min-width: 108px;
        // height: 40px;
        background: #F7811F;
        border-color: #F7811F;
        border-radius: 6px;
        color: #fff !important;
    }
    .ant-btn-primary:hover {
        background: #F7811F;
        border-color: var(--grey);
        box-shadow: 0px 4px 10px rgba(90, 115, 130, 0.4);
    }
    .ant-btn-primary:active, .ant-btn-primary:focus, .ant-btn-primary:visited {
        background: #CC5F05;
        border-color: #CC5F05;
        box-shadow: 0px 2px 6px rgba(90, 115, 130, 0.4);
    }
    .ant-btn-primary[disabled] {
        background: #FABF8E;
        border-color:#FABF8E;
        color: #fff;
        box-shadow: none;
    }
    .ant-btn-primary[disabled]:hover {
        box-shadow: 0px 2px 6px rgba(90, 115, 130, 0.4);
    }
    .f-12 {
        font-size: 12px;
    }
    .fw-600 {
        font-weight: 600;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .ant-btn {
        min-width: 108px;    
        border-color: #F7811F;
        border-radius: 6px;
        color: #5B5D63;
    }
    .ant-btn:hover {       
        border-color: #F7811F;
        box-shadow: 0px 4px 10px rgba(90, 115, 130, 0.4);
    }
    .ant-btn:active, .ant-btn:focus {      
        border-color: #CC5F05;
        box-shadow: 0px 2px 6px rgba(90, 115, 130, 0.4);
        img {
            transform: rotate(180deg);
        }
    }
    .ant-btn[disabled] {       
        border-color:#FABF8E;
        color: #ACADB0;
        box-shadow: none;
    }
    .ant-btn:not([disabled]):hover{
        box-shadow: 0px 2px 6px rgba(90, 115, 130, 0.4);
    }
}


/*input styles*/
.input-fields {
    .ant-input:hover {
        border-color: #4162AF;
    }
    .ant-input[disabled]:hover {
        border-color: #d9d9d9;
    }
    .f-12 {
        font-size: 12px;
    }
    .fw-400 {
        font-weight: 400;
    }
    .dark-grey {
        color: #5B5D63;
    }
    .ant-input {
        font-size: 16px;
        font-weight: 400;
        color: #5B5D63;
        border-color: var(--grey);
        border-radius: 4px;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        background-color: var(--white4) !important;
       
    }

}
.input-field input[type=text]:focus + label  {
    background-color: red;
}

/*other styles*/
.other-styles {  
    .applyBold {
        font-weight: 500;
    } 
    .f-16 {
        font-size: 16px;
    }
    .fw-400 {
        font-weight: 400;
    }
    .mr-10 {
        margin-right: 10px;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .grey-color {
        color: #5B5D63;
    }
   ::ng-deep {
        .ant-switch {
            border: 2px solid #F7811F;
            background-color: rgba(239, 239, 239, 0.5);
            min-width: 28px;
            height: 17px;
        }
        .ant-checkbox-inner {
            border: 2px solid #f7811f;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #f7811f;
            border-color: #f7811f;
        }
        .ant-switch-checked {
            background-color: #2BD95C;
        }
        .ant-switch-handle::before {
            border: 2px solid #F7811F;
            background-color: #FF9D4B;
        }
        .ant-switch-handle {
            top: 1px;
            width: 12px;
            height: 12px;
        }
        .ant-switch-checked .ant-switch-handle {
            left: calc(100% - 12px - 2px);
        }
        .ant-radio-checked .ant-radio-inner{
            border-color: #f7811f;
            border-width: 2px;
        }          
        .ant-radio-checked .ant-radio-inner:after{
            background-color: #f7811f;
        }          
        .ant-radio:hover .ant-radio-inner {
            border-color: #f7811f ;
            background-color: #FFEAD9;
        }
        .ant-checkbox:hover .ant-checkbox-inner{
            background-color: #FFEAD9;
        }
        .ant-radio-inner {
            border-width: 2px;
            border-color: #f7811f;
        }
        .ant-checkbox-wrapper {
            span {
                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: #5B5D63;
                }
            }
        }
    } 
}

/*select styles*/
nz-select {
    width: 100%;
}
.select-options{  
    .f-12 {
        font-size: 12px;
    }
    .fw-400 {
        font-weight: 400;
    }
    .dark-grey {
        color: #5B5D63;
    }
    .select-option {
        position: relative;
    }
    ::ng-deep {
        .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
            border-color: #4162AF !important;
        }
        .ant-select-multiple .ant-select-selection-item {
            background: #EFEFEF !important;
            border: 1px solid #EFEFEF !important;
            border-radius: 25px !important;
        }
        .ant-select-multiple .ant-select-selection-item-remove > .anticon {
            background-color: #96989C;
            padding: 3px;
            border-radius: 10px;
        }
        .ant-select-item-option-content {
           border-bottom: 1px solid #ccc !important;
       }
    }
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.align-end {
    align-items: flex-end;
}
.align-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.d-flex {
    display: flex;
}