.ant-modal {
    width: 600px !important;
}
.ant-modal-content {
    border-radius: 8px;
}
.ant-modal-footer {
    border-top: 0px solid transparent !important;
}
.steps-content {
    text-align: left !important;
}