@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

html,
body {
	height: 100%;
	position: relative;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	color: var(--grey1);
	font-weight: 400;
}

* {
	font-family: 'Rubik', sans-serif;
}

/* font-weight */
.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}

.f-12 {
	font-size: 12px !important;
}

.f-13 {
	font-size: 13px !important;
}

.f-14 {
	font-size: 14px !important;
}

.f-16 {
	font-size: 16px !important;
}

.f-18 {
	font-size: 18px !important;
}

.f-20 {
	font-size: 20px !important;
}

.f-24 {
	font-size: 24px !important;
}

.f-32 {
	font-size: 32px !important;
}

/*padding*/
.p10 {
	padding: 10px;
}
.pt-30 {
    padding-top: 30px;
}
.pl-15 {
	padding-left: 15px;
}
.pl-75 {
    padding-left: 75px;
}
.pr-20 {
	padding-right: 20px;
}
.m10 {
	margin: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-140 {
    margin-top: 140px;
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-50 {
	margin-bottom: 50px;
}


/*height*/
.h-40 {
    height: 40px;
}

/*width*/
.w150 {
    width: 150px;
}
.w100 {
	width: 100%;
}