.blue-text {
    color: var(--blue);
}
.lblue-text {
    color: var(--blue2);
}
.dark-grey {
    color: var(--dark-grey);
}
.orange-text {
    color: var(--orange);
}
.bg-white {
    background-color: var(--white4);
}
