:root {
	--blue: #0A286C;
	--blue2: #244BA5;
	--blue3: #BAC7E6;
	--dark-grey: #5B5D63;
	--orange: #F7811F;
	--white: #ffffff;
	--white2: #FEFFFE;
	--white3: #F5F5F5;
	--white4: #F9F8FF;
	--white5: #D5D7DB;
	--grey: #96989C;
	// --orange3: #FF9D33;
	// --orange4: #E57700;
	// --blue: #004399;
	// --blue2: #1252A6;
	// --grey3: #333333;
	// --cream: #FFE3C5;
	// --light-blue: #75A6E5;
	// --light-blue2: #EBF4FF;
	// --light-blue3: #F5FDFF;
	// --green: #018F20;
}
