<div class="button-styles" style="margin-top: 20px;">
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button [nzSize]="size" nzType="primary" class="f-12 fw-600">Button Label</button>
    </div>
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button [nzSize]="size" nzType="primary" class="f-12 fw-600" disabled>Button Label</button>
    </div>   
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button [nzSize]="size" nzType="default" class="f-12 fw-600">Button Label</button>
    </div>     
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button [nzSize]="size" nzType="default" disabled class="f-12 fw-600">Button Label</button>
    </div>
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button  nzType="primary" class="f-12 fw-600">Button Label</button>
    </div>
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button  nzType="primary" class="f-12 fw-600" disabled>Button Label</button>
    </div>   
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button  nzType="default" class="f-12 fw-600">Button Label</button>
    </div>     
    <div class="ant-row" style="margin-top: 20px;">
        <button nz-button nzType="default" disabled class="f-12 fw-600">Button Label</button>
    </div>
    <div class="ant-row with_icon" style="margin-top: 20px;">
        <nz-button-group>
            <button nz-button nzType="primary" class="f-12 fw-600" [nzSize]="size" style="width: 129px;">
                Button Label
              <img class="ml-10" src="../../assets/images/icons/down_btn.png" />
            </button>
        </nz-button-group>
    </div>
    <div class="ant-row with_icon" style="margin-top: 20px;">
        <nz-button-group>
            <button nz-button nzType="primary" class="f-12 fw-600" [nzSize]="size" style="width: 129px;" disabled>
                Button Label
              <img class="ml-10" src="../../assets/images/icons/down_btn.png" />
            </button>
        </nz-button-group>
    </div>
   
    <div class="ant-row with_icon" style="margin-top: 20px;">
        <nz-button-group>
            <button nz-button nzType="default" class="f-12 fw-600" style="width: 129px;" [nzSize]="size">
                Button Label
              <img class="ml-10" src="../../assets/images/icons/down_arrow_black.png" />
            </button>
        </nz-button-group>
    </div>
    <div class="ant-row with_icon" style="margin-top: 20px;">
        <nz-button-group>
            <button nz-button nzType="primary" class="f-12 fw-600" style="width: 129px;">
                Button Label
              <img class="ml-10" src="../../assets/images/icons/down_btn.png" />
            </button>
        </nz-button-group>
    </div>
    <div class="ant-row with_icon" style="margin-top: 20px;">
        <nz-button-group>
            <button nz-button nzType="primary" class="f-12 fw-600" style="width: 129px;" disabled>
                Button Label
              <img class="ml-10" src="../../assets/images/icons/down_btn.png" />
            </button>
        </nz-button-group>
    </div>
</div>
