.login-page {
    height: 100vh;
    overflow-y: auto;
    .login-wrapper {
        height: 100%;
        .profile {
            background: url(../../../../assets/images/icons/profile_photo.svg)  no-repeat 43%;
            background-size: cover;
            .profile-description {
                background-color: var(--white2);
                border: 1px solid var(--white3);
                box-shadow: 0px 100px 80px rgba(36, 38, 44, 0.07), 0px 41.7776px 33.4221px rgba(36, 38, 44, 0.0503198), 0px 22.3363px 17.869px rgba(36, 38, 44, 0.0417275), 0px 12.5216px 10.0172px rgba(36, 38, 44, 0.035), 0px 6.6501px 5.32008px rgba(36, 38, 44, 0.0282725), 0px 2.76726px 2.21381px rgba(36, 38, 44, 0.0196802);
                border-radius: 10px;
                width: 450px;
                padding: 20px 35px;
                position: absolute;
                bottom: 5%;
                right: -15%;
                &::before {
                    content: "";
                    background: url(../../../../assets/images/icons/quotes.svg) no-repeat;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: -23%;
                    left: -9%;
                }
            }
        }
        .details {
            position: relative;
            .logo {
                margin: 15px 20px;
            }
            .details-text {
                line-height: 28.44px;
            }
            .add-pos {
                position: absolute;
                right: 3%;
                bottom: 5%;
            }
        }        
    }
}
.isDesktop {
    display: block;
}
.isMobile {
    display: none;
}
::ng-deep {
    .ant-modal-footer {
        display: none !important;
    }
}
@media screen and (min-width: 801px) and (max-width: 991px) {
    .profile-description {
        width: 342px !important;
    }
}

@media screen and (max-width: 800px) {
    .isDesktop {
        display: none;
    }
    .isMobile {
        display: block;
        .profile {
            height: 520px;
            .profile-description {
                right: 0 !important;
                width: 378px !important;
                .f-16 {
                    font-size: 14px !important;
                }
                .f-18 {
                    font-size: 16px !important;
                }
                .mt-30 {
                    margin-top: 7px !important;
                }
            }
        }
    }
    .mt-140 {
        margin-top: 70px;
    }
    .pl-75 {
        padding-left: 0;
        padding: 20px;
    }
    .d-block {
        display: block !important;
    }
}