<div class="dashboard bg-white">
    <div class="logo p10">
        <img nz-image nzSrc="../../../../assets/images/logo.svg"/> 
    </div>
    <div class="container">
        <div class="steps-content">
            <ng-container>
                <div *ngIf="!this.second && !this.third && !this.four">
                    <app-personal-details (submitdata)="next()"></app-personal-details>
                </div>
                <div *ngIf="this.second">
                    <app-account-info (submitdata)="next()"></app-account-info>
                </div>
                <div *ngIf="this.third">
                    <app-company-details (submitdata)="next()"></app-company-details>
                </div>
                <div *ngIf="this.four">
                    <app-office-details></app-office-details>
                </div>
            </ng-container>
            <!-- <div class="steps-action button-styles">
                
                <button nz-button [nzSize]="size" nzType="primary" (click)="next()" *ngIf="current < 3" class="f-12 fw-600">
                    <span>Save and Continue</span>
                </button>
                <button nz-button [nzSize]="size" nzType="primary" (click)="done()" *ngIf="current == 3" class="f-12 fw-600">
                    <span>Done</span>
                </button>
            </div> -->
        </div>        
    </div>
    <div class="bottom-tab">
        <div class="bottom-inner">
            <nz-steps [nzCurrent]="current">
                <nz-step [nzIcon]="use" *ngIf="current !== 0">
                    <ng-template #use>
                        <img src="../../../../assets/images/icons/user_default.png" />
                    </ng-template>                    
                </nz-step>
                <nz-step [nzIcon]="use" *ngIf="current == 0" class="active-position">
                    <ng-template #use>
                        <img src="../../../../assets/images/icons/user_active.png" />
                    </ng-template>                    
                </nz-step>
                
                <!--------------------------------------->
    
                <nz-step [nzIcon]="account" *ngIf="current !== 1">
                    <ng-template #account>
                        <img src="../../../../assets/images/icons/account_default.png" />
                    </ng-template>
                </nz-step>
                <nz-step [nzIcon]="account" *ngIf="current == 1" class="active-position">
                    <ng-template #account>
                        <img src="../../../../assets/images/icons/account_active.png" />
                    </ng-template>
                </nz-step>
                <!--------------------------------------->
    
                <nz-step [nzIcon]="company" *ngIf="current !== 2">
                    <ng-template #company>
                        <img src="../../../../assets/images/icons/company_default.png" />
                    </ng-template>
                </nz-step>
                <nz-step [nzIcon]="company" *ngIf="current == 2" class="active-position">
                    <ng-template #company>
                        <img src="../../../../assets/images/icons/company_active.png" />
                    </ng-template>
                </nz-step>
                <!--------------------------------------->
    
                <nz-step [nzIcon]="office" *ngIf="current !== 3">
                    <ng-template #office>
                        <img src="../../../../assets/images/icons/office_default.png" />
                    </ng-template>
                </nz-step>
                <nz-step [nzIcon]="office" *ngIf="current == 3" class="active-position">
                    <ng-template #office>
                        <img src="../../../../assets/images/icons/office_active.png" />
                    </ng-template>
                </nz-step>
            </nz-steps>
        </div>
    </div>

</div>