.dashboard {
    height: 100vh;
    .logo {
        width: 140px;
        img {
            width: 100%;
        }
    }
    .container {
        margin: auto;
        width: 80%;
        height: 100%;
        position: relative;
        .steps-content {
            margin-top: 16px;
            border: 1px dashed #e9e9e9;
            border-radius: 6px;
            background-color: #fafafa;
            min-height: 200px;
            text-align: center;
            padding-top: 80px;
        }
        
        .steps-action {
            margin-top: 24px;
        }
        
        button {
            margin-right: 8px;
        }
    }
    .bottom-tab {
        background-color: var(--white);
        padding: 12px;
        margin: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
        .bottom-inner {
            width: 85%;
            margin: auto;
        }
    }
}
.active-position {
    img {
        position: fixed;
        bottom: -10px;
        width: 110px !important;
        z-index: 1;
    }
}
@media screen and (max-width: 768px) {
    .dashboard {
        .container {
            width: 90% !important;
        }
    }
    .steps-content {
        padding-top: 50px !important;
        overflow: auto;
        height: 80%;
    }
    .active-position {
        img {
            width: 95px !important;
        }
    }
}