<div class="dashboard bg-white">
    <div class="logo p10">
        <img nz-image nzSrc="../../../../assets/images/logo.svg"/> 
    </div>
    <div class="container">
        <div class="steps-content">
            <ng-container>
                <div *ngIf="!this.second && !this.third && !this.four">
                    <app-personal-details></app-personal-details>
                </div>
                <div *ngIf="this.second">
                    <app-account-info></app-account-info>
                </div>
                <div *ngIf="this.third">
                    <app-company-details></app-company-details>
                </div>
                <div *ngIf="this.four">
                    <app-office-details></app-office-details>
                </div>
            </ng-container>
            <div class="steps-action button-styles">
                <!-- <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>Previous</span>
                </button> -->
                <button nz-button [nzSize]="size" nzType="primary" (click)="next()" *ngIf="current < 3" class="f-12 fw-600">
                    <span>Save and Continue</span>
                </button>
                <button nz-button [nzSize]="size" nzType="primary" (click)="done()" *ngIf="current == 3" class="f-12 fw-600">
                    <span>Done</span>
                </button>
            </div>
        </div>        
    </div>
    <div class="bottom-tab">
        <nz-steps [nzCurrent]="current">
            <nz-step [nzIcon]="use">
                <ng-template #use>
                    <img src="../../../../assets/images/icons/user_default.png" />
                </ng-template>
                
            </nz-step>

            <nz-step [nzIcon]="account">
                <ng-template #account>
                    <img src="../../../../assets/images/icons/account_default.png" />
                </ng-template>
            </nz-step>

            <nz-step [nzIcon]="company">
                <ng-template #company>
                    <img src="../../../../assets/images/icons/company_default.png" />
                </ng-template>
            </nz-step>

            <nz-step [nzIcon]="office">
                <ng-template #office>
                    <img src="../../../../assets/images/icons/office_default.png" />
                </ng-template>
            </nz-step>
        </nz-steps>
    </div>

</div>