<div class="other-styles" style="margin-top: 20px;">
    <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="log(checkOptionsOne)"></nz-checkbox-group><br/><br/>
    <nz-checkbox-group [(ngModel)]="checkOptionsThree" (ngModelChange)="log(checkOptionsThree)"></nz-checkbox-group>
    
    <div class="ant-row" style="margin-top: 20px;">
        <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio nzValue="A" class="f-16 fw-400 grey-color">Label Name</label>
            <label nz-radio nzValue="B" class="f-16 fw-400 grey-color">Label Name</label>
            <label nz-radio nzValue="C" class="f-16 fw-400 grey-color">Label Name</label>
        </nz-radio-group>
    </div>
    <div class="ant-row" style="margin-top: 20px;">
        <div class="ant-col-md-4 f-16 fw-400 grey-color">
            <nz-switch class="mr-10"> </nz-switch>Off Sate
        </div>
        <div class="ant-col-md-4 f-16 fw-400 grey-color">
            <nz-switch [ngModel]="true" class="mr-10"></nz-switch> On Sate
        </div>
    </div>
    <div class="ant-row">
        <div class="ant-col-md-4 f-16 fw-400 grey-color" style="margin-top: 20px;">
            <nz-switch [nzDisabled]="isDisabled" class="mr-10"> </nz-switch>Off Sate
        </div>
        <div class="ant-col-md-4 f-16 fw-400 grey-color" style="margin-top: 20px;"> 
            <nz-switch [ngModel]="true" [nzDisabled]="isDisabled" class="mr-10"></nz-switch> On Sate
        </div>
    </div>
    <div class="ant-row f-16 fw-400 grey-color" style="margin-top: 20px;" >
        <div [ngClass]="{'applyBold': !isChecked}">Left Option</div>  
        <nz-switch [(ngModel)]="isChecked" class="mr-10 ml-10"></nz-switch>
        <div [ngClass]="{'applyBold': isChecked}">Right Option</div>
    </div>
      
</div>