<div>
    <div class="ant-row input-fields">
        <div class="ant-col-md-6">
            <nz-input-group>
                <span class="f-12 fw-400 dark-grey">Field Name</span>
                <input nz-input placeholder="Field Name" />
            </nz-input-group>
        </div>    
    </div>
    <div class="ant-row input-fields" style="margin-top: 20px;">
        <div class="ant-col-md-6">
            <nz-input-group>
                <span class="f-12 fw-400 dark-grey">Field Name</span>
                <input nz-input placeholder="Field Name" [disabled]="true" />
            </nz-input-group>
        </div>    
    </div>
    <div class="ant-row input-fields" style="margin-top: 20px;">
        <div class="ant-col-md-6">
            <nz-input-group [nzSize]="'small'">
                <span class="f-12 fw-400 dark-grey">Field Name</span>
                <input nz-input placeholder="Field Name" />
            </nz-input-group>
        </div>    
    </div>
    <div class="ant-row input-fields" style="margin-top: 20px;">
        <div class="ant-col-md-6">
            <nz-input-group [nzSize]="'small'">
                <span class="f-12 fw-400 dark-grey">Field Name</span>
                <input nz-input placeholder="Field Name" [disabled]="true" />
            </nz-input-group>
        </div>    
    </div>
</div>

